$--letter-spacing: 0.015em;

$--breakpoint-xs: 0;
$--breakpoint-sm: 576px;
$--breakpoint-md: 768px;
$--breakpoint-lg: 992px;
$--breakpoint-xl: 1200px;
$--breakpoint-2xl: 1600px;
$--breakpoint-3xl: 1920px;

$--gutter-xs: 20px;
$--gutter-sm: 20px;
$--gutter-md: 20px;
$--gutter-lg: 30px;
$--gutter-xl: 30px;
$--gutter-2xl: 30px;
$--gutter-3xl: 30px;

$--column-count-xs: 2;
$--column-count-sm: 4;
$--column-count-md: 4;
$--column-count-lg: 4;
$--column-count-xl: 12;
$--column-count-xxl: 12;
$--column-count-2xl: 12;
$--column-count-3xl: 12;

$--grid: 'grid';
$--row: 'row';
$--column: 'col';
$--offset: 'offset';

$--font-size-80: 18px;
$--font-size-100: 22px;
$--font-size-120: 26px;
$--font-size-140: 30px;
$--font-size-180: 40px;
$--font-size-200: 44px;
$--font-size-300: 66px;
$--font-size-400: 90px;
$--font-size-550: 120px;

$--color-brand: #ee2625;
$--color-text: #000003;
$--color-text--muted: #8f8f8f;
$--color-text--contrast: #ffffff;
$--color-text--contrast-muted: #ffc59e;
$--color-background: #ffffff;

$--ease-in-out-cubic: cubic-bezier(0.62, 0, 0.38, 1);
$--color-background: $--color-text--contrast;
$--color-background--contrast: $--color-text;
