@import '~@/styles/shared/_globals.scss';

.button {
  box-sizing: border-box;
  width: 100%;
  font-size: $--font-size-100;
  line-height: 1;
  border: 2px solid $--color-text;
  height: 52px;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  letter-spacing: $--letter-spacing;
  text-transform: uppercase;
  padding: 12px;

  transition: all $--duration-400 $--timing-in-out-cubic;

  @include from('lg') {
    height: 74px;
    font-size: $--font-size-120;
  }

  background-color: transparent;
  color: $--color-text;

  &:hover {
    background-color: $--color-brand;
    border-color: $--color-brand;
    color: $--color-text--contrast;
  }

  &--contrast {
    background-color: transparent;
    border-color: $--color-text--contrast;
    color: $--color-text--contrast;

    &:hover {
      background-color: $--color-brand;
      border-color: $--color-brand;
      color: $--color-text--contrast;
    }
  }
}
