@import '~@/styles/shared/_globals.scss';

.form {
  &__field {
    margin-bottom: $--gutter-xs;
    @include from('lg') {
      margin-bottom: $--gutter-lg;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    font-size: $--font-size-100;
    line-height: 1;
    border: 2px solid $--color-text;
    padding: 0.38em 1em 0.62em;

    @include from('lg') {
      font-size: $--font-size-120;
    }

    &--textarea {
      resize: vertical;
    }

    &--button {
      background-color: $--color-brand;
      border-color: $--color-brand;
      color: $--color-text--contrast;
      cursor: pointer;
    }
  }

  &__terms {
    font-size: $--font-size-80;
    color: $--color-text--muted;

    a {
      text-decoration: underline;
    }
  }
}
