@import 'shared/globals.scss';
@import '~@/styles/grid.scss';
@import '~@/styles/container.scss';
@import '~@/styles/typography.scss';
@import '~@/styles/button.scss';

body,
html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gerbera', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  letter-spacing: $--letter-spacing;
  color: $--color-text;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

*:focus {
  outline: none;
}

*::selection {
  color: $--color-text--contrast;
  background: $--color-brand;
}

.loading {
  animation: loading 1s ease-in-out infinite;
  background: #ccc;
}

@keyframes loading {
  50% {
    opacity: 0.62;
  }
}