@font-face {
  font-family: 'Gerbera';
  src: url('Gerbera/gerbera-webfont.woff2') format('woff2'),
    url('Gerbera/gerbera-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('Gerbera/gerbera-black-webfont.woff2') format('woff2'),
    url('Gerbera/gerbera-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('Gerbera/gerbera-bold-webfont.woff2') format('woff2'),
    url('Gerbera/gerbera-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('Gerbera/gerbera-light-webfont.woff2') format('woff2'),
    url('Gerbera/gerbera-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('Gerbera/gerbera-medium-webfont.woff2') format('woff2'),
    url('Gerbera/gerbera-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
